@model McLaren_Cardealer.ViewModels.GrantPermissionViewModel

@{
    ViewData["Title"] = "Grant Permission";
}

<h2 class="mt-3">Grant permission</h2>

<form asp-action="GrantPermission" asp-method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="GebruikerId" asp-items="Model.Gebruikers"></select>   
    </div>
    <div class="form-group">
        <select asp-for="RolId" asp-items="Model.Rollen"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>