<link rel="stylesheet" href="/css/Winkel.css" />
@{
    ViewData["Title"] = "About Us";
}

<h1 class="mt-5 text-center">About Us</h1>
<div class="text-center m-5">
    <img src="~/images/sennaGTR.jpg" alt="McLarenLogo" height="300" width="500" />
</div>


<div class="flex-container">

  <div class="flex-child">
        <h2>What are we?</h2>
        <p class="CustomText">
            What you are looking at is the official McLaren cardealer from Belgium.
            here we sell our luxurious McLaren car models. Every car you see here is new or as good as new.
            With a mileage of less than 30,000 kilometers.
            Make your purchase here by registering or visit our showroom at Steenweg Weelde 109 in Poppel.
        </p>
  </div>
  
  <div class="flex-child">
        <h2>Who am I?</h2>
        <p class="CustomText">
            I am Stijn Van Hees a Belgian student in programming. I do this at Thomas More in Turnhout.
            Also (as you probably already figured out) I'm a car enthusiast. And as I'm sure you've noticed, I especially like McLarens.
            Not without reason of course. McLarens are not only beautiful, they have good to best performance in all aspects.
            From the drag strip to a track. That's the reason why I started this amazing cardealer.
        </p>
  </div>
  
</div>



