@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="mt-4">
    <p>
        As of 01/01/2023 we DO NOT collect users data. EXEPT FOR users that register to our website.
        The data we DO collect are the data you need to fill in to either register or purschase a vehicle.
        This data will no be given to third party users or external company's.
    </p>

    <p>This site is prohibited to use for other purposes.</p>
</div>



<p class="mt-5">*This site is not real. It is a project for school.</p>

